body {
  font-family: "Montserrat", sans-serif;
  display: grid;
  margin: 0px;
  padding: 0px;
  gap: 20px; /* nesse caso dá espeçado para todos os elementos dentro do body */
}

h1,
h2,
h3,
p {
  margin-top: 0px;
}

header {
  background: #ffc107;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0px 4px 4px rgba(108, 102, 102, 0.371);
}

p {
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
}

.conteudo-geral {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  max-width: 1000px;
  gap: 200px;
  justify-content: center;
}

.conteudo-1 {
  display: grid;
  padding: 40px;
  margin: 20px;
  gap: 20px;
}

.conteudo-1 h1 {
  color: #ffa000;
  font-size: 50px;
  line-height: 61px;
  position: relative;
  top: 40px;
  right: 0px;
}

.conteudo-1 li {
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  list-style: none;
  position: relative;
  bottom: -15px;
}

.conteudo-1 h2 {
  position: relative;
  top: 10px;
}
.conteudo-2 {
  display: grid;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  gap: 55px;
}

.conteudo-2 h3 {
  color: #ffa000;
  font-size: 2rem;
  font-weight: 500;
  line-height: 37px;
  position: relative;
  bottom: 120px;
}

.comidas {
  background: #ffff;
  position: relative;
  bottom: 180px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

img {
  max-width: 1000px;
}

.comidas p {
  text-align: center;
  margin-top: 20px;
  font-weight: 600;
  font-size: 26px;
  line-height: 1.3rem;
}

.info {
  color: #176902;
}

span {
  display: inline-block;
  padding: 10px 20px 10px;
  border: 1px solid #176902;
  border-radius: 47px;
  gap: 20px;
}

.rodape {
  background: #ffa000;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
}

.rodape p {
  color: #ffff;
  position: relative;
  top: 30px;
}
